.container {
  min-height: 100px;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  margin-top: 1rem;
  border-top: 0.5px solid #d4d4dd;
  padding-top: 1rem;
}
.semiContainer {
  display: flex;
}
/* .semiContainer :nth-child(1) {
  flex: 2;
} */
/* .semiContainer :nth-child(2) {
  flex: 1;
} */
.icon {
  font-size: 3em;
  color: #7a786d;
  margin-top: 0.5rem;
  cursor: pointer;
  height: 60px;
  position: relative;
  right: 2rem;
}

.link {
  display: inline-block;
  margin-right: 0.5rem;
  color: #006672;
  font-size: 0.9rem;
  margin-top: 0.7rem;
  padding-bottom: 1rem;
}
.link:hover {
  color: #006672;
}
