html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  font-family: "Domine", serif;
  /* font-family: "Tinos", serif; */
  /* font-family: "Domine", serif; */
}
